body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    background-color: #F3F3F3;
}


/*styling til navbar*/
.navbar {
    background-color: #F1DE78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    position: relative;
}

.navbar a{
    text-decoration: none;
    color: #0D0805;
}

.logo {
    font-size: 32px;
    font-family: Righteous, sans-serif;
    text-decoration: none;
    color: #0D0805;
}

/* Desktop menu */
.menu a {
    margin-left: 30px;
    text-decoration: none;
    color: #0D0805;
    font-size: 18px;
    font-weight: 500;
}

/* Burger icon */
.burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

/* Styling af mobil */
@media (max-width: 900px) {
    .burger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #F1DE78;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu a {
        margin: 15px 0;
        font-size: 20px;
    }

    .menu.active {
        display: flex;
    }
}


/*styling af forside billede*/
.boks-med-billede{
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.boks-med-billede img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*styling til tekst til forside*/
.velkommenTekst{
    margin-left: 20px;
    margin-right:20px;
}

.velkommenTekst h1{
    font-size:48px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #F1DE78;
    margin-right: 35%;
}

.infoTekst{
    display: flex;
    max-width: 700px;
    font-size: 100%;
    line-height: 1.6;
    margin-bottom: 60px;
    margin-top: 20px;
}

.tekstOgBillede{
    display: flex;
    align-items: stretch;
    gap: 50px;
}

.GoodVibes{
    height: auto;
    width: 500px;
    margin-top: -100px;
    object-fit: cover;
    clip-path: inset(130px 0px 130px 0px);
}

/* styling af teksten: De tre iværksættermiljøer*/

.DeTreI{
    font-size:40px;
    background-color: #F1DE78;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin: 60px 20px 60px 20px;
}


/*styling af details bokse*/
.custom-details{
    width: 60%;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: #BF6068;
    border: 2px;
    border-radius: 35px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    font-size: 16px;
}

.custom-details summary{
    font-size: 30px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    text-align: center;

}
.Slagelse-Køge-Næstved{
    margin-top: 80px;
    margin-bottom: 200px;
}


.alleCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 10px 50px 200px 50px;
}

.cardMedBillede{
    border: 2px solid black;
    background-color: #F3F3F3;
    text-align: center;
}

.LæsMereKnap{
    display: block;
    margin: 0 auto;
    padding: 10px 24px;
    background-color: #BF6068;
    color: #F3F3F3;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    margin-bottom: 10px;
}

/* Mobil */
.alleCards{
    padding: 10px;
    grid-column: col-start / span 4;
}

/* styling af nyheds card*/

.nyhed{
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin-bottom: 200px;
}

.nyhed-box{
    background-color: #F3F3F3;
    border: 2px solid #0D0805;
    max-width: 1000px;
    width: 100%;
    padding: 40px 50px;
    box-sizing: border-box
}


.nyhed-title {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 30px;
}

.nyhed-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.nyhed-tekst {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
}
.nyhed-billede {
    flex: 1;
}

.nyhed-billede img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


/* styling footer*/
.profile{
    display: flex;
    align-items: center;
    gap: 80px;
    background-color: #F1DE78;
    padding: 30px 100px;
    justify-content: center;
}


.Ukendt-person{
    clip-path: circle(50%);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
    margin-top: -120px;
    z-index: 2;
}

.profile-info{
    text-align: center;
}

/* Text */
.TobiasHL {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.containerSort{
    display: flex;
    justify-content: space-between;
    background-color: #0D0805;
    padding: 30px 100px;
}

.tekst{
    width: 45%;
}
.C-S{
    color: #F3F3F3;
    font-family: Righteous, sans-serif;
}

.genveje{
    width: 45%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.genveje a{
    text-decoration: none;
    color: #F3F3F3;
}

.genveje li{
    margin-bottom: 50px;

}

.footerBrødtekst{
    color: #F3F3F3;
    max-width: 450px;
}
.NyhedsbrevKnap{
    background-color: #BF6068;
    color: #F3F3F3;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: Raleway, sans-serif;
}

.line{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 40px 0;
}


/* ....................  styling af event og workshop siden ............... */
.heroBilelde{
    position: relative;
    display: inline-block;
}
.heroBilelde img {
    display: block;
    width: 100%;
    height: auto;
}

.heroBilledeTekst{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #F3F3F3;
    font-family: Raleway, sans-serif;
}
.heroBilledeTekst h1{
    font-size: 50px;
}

.heroBilledeTekst p{
    font-size: 20px;
}
.EogWtekst{
    display: flex;
    text-align: center;
    max-width: 1500px;
    font-size: 100%;
    line-height: 1.6;
    margin: 10px 170px 100px 170px;
}

.EventsOgWorkshops{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 10px 50px 200px 50px;
}

.cardMedBillede2{
    border: 2px solid black;
    background-color: #F1DE78;
}

.cardMedBillede2 p{
    font-style: italic;
}
/* Mobil */
.alleCards{
    padding: 10px;
    grid-column: col-start / span 4;
}



@media (max-width: 900px){
    .velkommenTekst h1{
        font-size: 20px;
    }
    .infoTekst{
        font-size: 80%;
    }
    .GoodVibes {
        height: auto;
        width: 300px;
        margin-top: -100px;
        object-fit: cover;
        clip-path: inset(100px 0px 100px 0px);
    }
}

@media (max-width: 900px) {
    .DeTreI{
        font-size:25px;
        background-color: #F1DE78;
        text-align: center;
        padding: 40px 20px;
        margin: 60px 20px 60px 20px;
    }
}

@media (max-width: 900px){
    .heroBilledeTekst{
        top: 65%;
        left: 35%;
    }
    .heroBilledeTekst h1{
        font-size: 40px;
    }

    .heroBilledeTekst p{
        font-size: 15px;
    }
}

