* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

/*styling til navbar*/
.navbar {
    background-color: #F1DE78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    position: relative;
}

.logo {
    font-size: 32px;
    font-family: Righteous, sans-serif;
}

/* Desktop menu */
.menu a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* Burger icon */
.burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

/* Styling af mobil */
@media (max-width: 900px) {
    .burger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #F1DE78;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu a {
        margin: 15px 0;
        font-size: 20px;
    }

    .menu.active {
        display: flex;
    }
}


/*styling til tekst og cards*/

.contact {
    padding: 80px 100px;
}

.contact h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.kontaktOsTekst {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 60px;
}
/* styling af alle cards på en gang*/
.kontakt-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
}
/* styling af hvert card*/
.card {
    background-color: #47588C;
    color: white;
    padding: 50px 30px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.card h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.card p {
    font-size: 16px;
    margin-bottom: 12px;
}


@media (max-width: 900px) {
    .kontakt-cards{
        grid-template-columns: 1fr;
    }
}